{% extends 'base.html' %}

{% block head %}
    <style>
        .dark:hover, .light:hover {
            background-color: var(--{{ 'doctor-light' if doctor else 'patient-light' }});
        }
    </style>
{% endblock head %}

{% block header %}
    <h3>Welcome back, {{ fname }}</h3>
{% endblock header %}

{% block content %}
    <div style="50vw; display:flex; flex-direction: column;">

        <a href="/logout" class="dark">
            <p><strong>Log Out</strong></p>
        </a>

        <a href="/appointments" class="light">
            <p><strong>Appointments:</strong> View past or upcoming appointment information or create new appointments</p>
        </a>


        {% if doctor %}
            <a href="/file-prescriptions" class="dark">
                <p><strong>Prescriptions:</strong> File a new prescription for a patient </p>
            </a>
        {% else %}
            <a href="/prescriptions" class="dark">
                <p><strong>Prescriptions:</strong> View your current prescriptions </p>
            </a>
            <a href="/profile" class="light">
                <p><strong>Profile:</strong> View information on your chart</p>
            </a>
        {% endif %}
    </div>
{% endblock content %}
