{% extends 'base.html' %}
{% block content %}
    <div style="position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); width:50vw; height: 50vh;
        display:flex; flex-direction: column;">
        <h3>Welcome back, {{ fname }}</h3>
        {% if user_doctor %}
            <a href="/appointments-doctor" class="block-top light">
                <p><strong>Appointments:</strong> View past or upcoming appointment information or create new appointments</p>
            </a>
            <a href="/prescriptions" class="block dark">
                <p><strong>Prescriptions:</strong> View prescriptions you have filed or file a new prescription for a
                patient</p>
            </a>
            <a href="/logout" class="block-bottom light">
                <p><strong>Log Out</strong></p>
            </a>
        {% elif user_patient %}
            <a href="/appointments-patient" class="block-top light" >
                <p><strong>Appointments:</strong> View past or upcoming appointment information or create new appointments</p>
            </a>
            <a href="/profile" class="block dark">
                <p><strong>Profile:</strong> View information on your chart including </p>
            </a>
            <a href="/logout" class="block-bottom light">
                <p><strong>Log Out</strong></p>
            </a>
        {% endif %}
    </div>
{% endblock content %}
