<nav>
    <h1>MedLoop</h1>
    <p>
        {% if fname %}
        {{ fname }}
        {% endif %}
        {% if lname %}
        {{ lname }}
        {% endif %}
    </p>
    {% if user_doctor %}
        <a href="/appointments-doctor">Appointments</a>
        <a href="/profile">Profile</a>
        <a href="/prescribe">Prescribe Medication</a>
        <a href="/logout">Log Out</a>
    {% elif user_patient %}
        <a href="/appointments-patient">Appointments</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Log Out</a>
    {% else %}
        <a href="/register">Register</a>
        <a href="/patient-login">Log In</a>
    {% endif %}
</nav>

