{% extends 'base.html' %}

{% block header %}
    </style>
    <h3>Your Prescriptions:</h3>
{% endblock header %}

{% block content %}
    <div>

        {% if prescriptions %}
            <div style="display:flex; justify-content:space-evenly;">
                <strong><p style="margin-bottom:0px;">Medication</p></strong>
                <strong><p style="margin-bottom:0px;">Dosage</p></strong>
                <strong><p style="margin-bottom:0px;">Description</p></strong>
            </div>

            {% for med in prescriptions %}
                <div style="display:flex; justify-content:space-evenly;">
                    <p>{{ med.name }}</p>
                    <p>{{ med.dosage }}</p>
                    <p>{{ med.description }}</p>
                </div>
            {% endfor %}

        {% else %}
        <p>No prescriptions found.</p>
        {% endif %}

    </div>
{% endblock content %}
